$cWhite: #fff;
$cBlack: black;
$cSubTitle: #535353;
$cBgGray: #eaebe6;
$cWineRed: #904669;
$centerTimelineWidth: 40%;
$leftTimelineWidth: 30%;
$rightTimelineWidth: 30%;
$contentMaxWidth: 1070px;
$navHeight: 80px;