$cWhite: #fff;
$cBlack: black;
$cSubTitle: #535353;
$cBgGray: #eaebe6;
$cWineRed: #904669;
$centerTimelineWidth: 45%;
$leftTimelineWidth: 32%;
$rightTimelineWidth: 33%;
$contentMaxWidth: 1070px;
$navHeight: 80px;